.container {
    display: grid;
    grid-template-areas:
      "header header"
      "menu content"
      "footer footer";
    grid-template-columns: 1fr 3fr;
    gap: 5px;
    background-color: #ffffff41;
    padding: 5px;
    font: 1em sans-serif;
  }
  .container > div {
    background-color: rgba(255, 255, 255);
    padding: 10px;
  }
  .container > div.header {
    grid-area: header;
    text-align: center;
  }
  .container > div.menu {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    margin: 50px;
  }
  .container > div.content {
    grid-area: content;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    
  }
  .container > div.footer {
      background-color: rgb(29, 34, 40);
    grid-area: footer;
    display: grid;
    grid-template-areas:
      "f1 f2 f5"
      "f3 f4 f5";
    grid-template-columns: 3fr 1fr 1fr;
    gap: 5px;
    color: white;
  }
  .f1{
      grid-area: f1;
  }
  .f2{
      grid-area: f2;
  }
  .f3{
      grid-area: f3;
  }
  .f4{
      grid-area: f4;
  }
  .f5{
      grid-area: f5;
  }
  #header{
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid rgb(240, 240, 240);
  }
  #div_logo{
      display: flex;
      justify-content: space-between;
     
  }
  #div_logo input{
      border-radius: 10px;
      margin: 8px;
      border: 0px solid red;
      background-color: lightgray;            
  }
  #menu{
      width: 40%;
      display: flex;
      justify-content: space-between;
  }
  #menu li{
      list-style: none;
      margin: 5px;
  }
  #menu li a{
    list-style: none;
    font-style: normal;
    text-decoration: none;
    color: #000; 
}
  #div_setting{
      display: flex;
      align-items: center;

  }
  #div_setting img{
      height: 50px;
      
  }
  #setting img{
      height: 20px;
     
  }
  #setting p{
      line-height: 30px;
     
  }
  #setting{
      display: flex;
      justify-content: center;
      margin: 5px;
      align-items: center;
      background-color: pink;
      border-radius: 40px;
      height: 40px;
      width: 160px;
  }
  #filter1 {
      text-indent: 10px;
      display: flex;
      justify-content: left;
      align-items: center;
      border-top: 2px solid rgb(240, 240, 240);
      border-left: 2px solid rgb(240, 240, 240);
      border-right: 2px solid rgb(240, 240, 240);
  }
  #filter1 img{
      margin-left: 10px;
      margin-right: 5px;
      width: 25px;
      height: 25px;
  }
  #filter{
    text-indent: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 2px solid rgb(240, 240, 240);
    border-right: 2px solid rgb(240, 240, 240);
    border-top: 2px solid rgb(240, 240, 240);
  }
  #filter1 img{
    margin-right: 5px;
    width: 25px;
    height: 25px;
}
  #type-row{
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-right: 70px;
      border-left: 2px solid rgb(240, 240, 240);
      border-right: 2px solid rgb(240, 240, 240);

  }
  #type-item{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  #rating{
    padding-bottom: 10px;
  }
  #rating-row{
    height: 30px;
    border-left: 2px solid rgb(240, 240, 240);
    border-right: 2px solid rgb(240, 240, 240);
  }
  #rating-row img{
    margin-left: 10px;
  }
  .conten{
    width: 100%;
    height: 50px;
    align-items: center;
    padding-top: 15px;
    border: 2px solid rgb(240, 240, 240);
  }
  #filter .conten button{
      width: 90%;
      color: aliceblue;
      background-color: rgb(243, 75, 134);
      border: 0px;
      border-radius: 10px;
      height: 40px;
      line-height: 20px;
  }
  #filter .conten button:hover{
      cursor: pointer;
      width: 90%;
      color: aliceblue;
      background-color: rgb(250, 115, 162);
      border: 0px;
      border-radius: 10px;
      height: 40px;
      line-height: 20px;
  }
  #taps{
      display: flex;
      justify-content: center;
  }
  #tap1{
      margin: 10px;
      border-radius: 15px;
      background-color: #70baf79d;
      color: #008bfd;
      height: 30px;
      line-height: 30px;
      padding-left: 5px;
      padding-right: 5px;
  }
  #tap2{
      margin: 10px;
      border-radius: 15px;
      background-color: #70f7929d;
      color: #00fd94;
      height: 30px;
      line-height: 30px;
      padding-left: 5px;
      padding-right: 5px;
  }
  #tap3{
      margin: 10px;
      border-radius: 15px;
      background-color: #ba70f79d;
      color: #8300fd;
      height: 30px;
      line-height: 30px;
      padding-left: 5px;
      padding-right: 5px;
  }
  #tap4{
      margin: 10px;
      border-radius: 15px;
      background-color: #70d8f79d;
      color: #00fdb1;
      height: 30px;
      line-height: 30px;
      padding-left: 5px;
      padding-right: 5px;
  }
  .f1{
    justify-content: left;
    padding-right: 350px;
}
.f1 input{
    border-radius: 10px;
    height: 30px;
    line-height: 25px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 280px;
}
.f1 button{
    border-radius: 10px;
    height: 30px;
    line-height: 25px;
    cursor: pointer;
    background-color: rgb(243, 75, 134);
    color: aliceblue;
    margin: 0px;
    border: 0px;
}
.f3{
    align-items: end;
    padding-right: 20px;
}
#f3{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-right: 350px;
}